<%-include partials/header.ejs%>
    <h1>Contact Us </h1>
    
  <form method="post" enctype="text/plain" action="200306422@student.georgianc.on.ca?subject=Form Message">

<div class="form-group">
    <label for="name">Name</label>
    <textarea class="form-control"></textarea>
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="writehere">Comment</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<%-include partials/footer.ejs%>