<!-- Name- Himanshu Patel
File Name- index.html
File description- This page contain home page  -->

<%-include partials/header.ejs%>
    
    <style>
    
h2{color: blue;}
    </style>
    <div class="page">

    <h2>“My	Favourite	People</h2>
    <p></p>
    <
  </div>  
  <!-- javacsript -->
   <script src="Scripts/lib/jquery/dist/jquery.min.js"></script>
   <script src="Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
   <script src="Scripts/app.js"></script>
  
  <div><img src="assets/sachin.jpg" height="200" width="200"> 
<img src="assets/bill.jpg" height="200" width="200">
<img src="assets/steve.jpg" height="200" width="200"> </div>

<%-include partials/footer.ejs%>