<%-include partials/header.ejs%>
    
    
  <!-- javacsript -->
   <script src="Scripts/lib/jquery/dist/jquery.min.js"></script>
   <script src="Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
   <script src="Scripts/app.js"></script>
   <i><h3>My favourites People</i></h3>
   <a href="#sachin">Sachin tendulkar</a></br>
   <a href="#bill">Bill Gates</a></br>
   <a href="#steve">Steve Jobs</a></br>
   <div class="row">
   <div class="col-xs-6 col-md-4">
  <h3 id = "sachin" style="color:yellowgreen"> Sachin tendulkar</h3>
  
  <img src="assets/sachin.jpg" align="middle" height="200" width="200"> 
  <p>
  <b><i>About Sachin:</b></i></br>
  Sachin Tendulkar has been the most complete batsman of his time, the most prolific runmaker of all time, and arguably the biggest cricket icon the game has ever known. His batting was based on the purest principles: perfect balance, economy of movement, precision in stroke-making, and that intangible quality given only to geniuses - anticipation. If he didn't have a signature stroke - the upright, back-foot punch comes close - it's because he was equally proficient at each of the full range of orthodox shots (and plenty of improvised ones as well) and can pull them out at will.</p>
  
  </div>
  <div class="col-xs-6 col-md-4">
<h3 id = "bill" style="color:yellowgreen"> Bill gates</h3>

<img src="assets/bill.jpg" align="middle" height="200" width="200">
<p>
<b><i>About BillGates:</b></i></br>
William Henry "Bill" Gates III (born October 28, 1955) is an American business magnate, philanthropist, investor, and computer programmer. In 1975, Gates and Paul Allen co-founded Microsoft, which became the world's largest PC software company. During his career at Microsoft, Gates held the positions of chairman, CEO and chief software architect, and was the largest individual shareholder until May 2014. Gates has authored and co-authored several books.</p>
</div>
<div class="col-xs-6 col-md-4">
<h3 id = "steve" style="color:yellowgreen"> Steve  Jobs</h3>
<img src="assets/steve.jpg" align="middle" height="200" width="200">
<p>
<b><i>About Steve:</b></i></br>
Steven Paul "Steve" Jobs ( February 24, 1955 – October 5, 2011) was an American information technology entrepreneur and inventor. He was the co-founder, chairman, and chief executive officer (CEO) of Apple Inc.; CEO and largest shareholder of Pixar Animation Studios;a member of The Walt Disney Company's board of directors following its acquisition of Pixar; and founder, chairman, and CEO of NeXT Inc. Jobs is widely recognized as a pioneer of the microcomputer revolution of the 1970s, along with Apple co-founder Steve Wozniak. Shortly after his death, Jobs's official biographer, Walter Isaacson, described him as a "creative entrepreneur whose passion for perfection and ferocious drive revolutionized six industries: personal computers, animated movies, music, phones, tablet computing, and digital publishing</p>
</div>
</div>

<%-include partials/footer.ejs%>